header{
    background-color: #E5E5E5;
    text-align: center;
    height: 204px;
}

a{
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li{
    display: inline-block;
}
h1,h2{
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 8px;
}
.container{
    margin: 60px auto;
    max-width: 70%;
}
h2{
    font-size: 20px;
}
span{
    font-weight: 700;
}
.datos span{
    font-style: italic;
}
dl{
    margin-left: 40px;
}
dd{
    margin-left: 85px;
}
footer{
    background-color: #005677;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
footer a{
    color: white;
}
