/* HEADER */

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.encabezado{
    background-color: #222222;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    Width: 100%
  /*   max-width: 1240px;
    margin: 0 auto; */
}

/* img{
    Width: 234px;
    Height: 80px
} */

h1{
    font-size: 700;
}

.pizza{
    color: #39B24A
}
.front{
    color: red;
}
.y{
    color: white;
}

.logo {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.logo-header{
    padding: 15px;
}

.menu{
    display: inline-flex;
}

nav ul li a{
    display: inline-block;
    justify-content: space-around;
    font-weight: 400;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    Width: 284px;
    Height: 19px;
    font-size: 16px;
    margin-right: 10px;
}

a{
    color: white;
    text-decoration: none;
}

/* MAIN */

.container{
    display: inline-flex;
    justify-content: space-evenly;
    padding: 35px 19px;
    background-color: #E5E5E5;
    width: 100%;
}

/* DIV ENVIO */

h2{
    color: red;
}

.comprando{
    color: white;
}     

.envio{
    background-image: url(./img/delivery.svg);
    background-repeat: no-repeat;
    Width: 50%; 
    Height: 350px;
    padding: 35px 19px;
}

/* DIV PODIO */

.podio{
    background-color: white;
    display: inline-block;
    justify-content: center;
    
    Width: 50%; 
}

.h2-podio{
    display: block;
    text-align: center;
    padding-top: 36px ;
}

.parte-inferior{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.sabores{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bold 
}

li{
    display: flex;

}

.h2-top{
    display: block;
    text-align: center;
    color: black;
}

/* .h2-podio ol li{
    font-weight: bold ;
} POR QUE NO SE ME PUSO NEGRITA ACA PERO SI EN SABORES?  */

/* FOOTER */
 
footer{
    display: inline-flex;
    background-color: #222;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 400;
}

.items-footer{
    display: flex;
    padding: 3px 15px;
    
}

.logo-footer{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 19px 20px;
}

.titulo-footer{
  margin-left: 50px
}